:root {
    --containerSize: 900px;
    --gap: 5px;
    --border: 1px;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1em;
}

#container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    width: var(--containerSize);
}

#container > div {
    border: var(--border) solid lightgray;
}

.hover {
    background-color: lavender;
}