:root {
    --size: 40px;
    --gap: 0px;
    --border: 1px;
}

#container {
    border: var(--border) solid gray;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    width: calc(
        (var(--size) * 16) + 
        (var(--border) * 2 * 16) +
        (var(--gap) * 15)
        );
}

#container > div {
    border: var(--border) solid gray;
    width: var(--size);
    height: var(--size);
}

.hover {
    background-color: lavender;
}